body {
    margin: 0;
    font-weight: 500;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 18px;
    text-align: center;
}

#page-top {background-color: cornsilk;}
#age-calculator {background-color: lightgreen;}
#lifetime-supply-calculator {background-color: cornflowerblue;}
#geometrizer {background-color: lightpink;}
#temp-converter {background-color: lightsalmon;}

section {
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    text-align: center;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 36px;
    padding-bottom: 5vh;
}

h2 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 36px;
    padding: 10vh;
    display: block;
}

.form-container {
    display: block;
    padding: 10vh;
    margin: auto;
}

.form-result {
    padding: 5vh;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav {
    display: table;
    width: 100%;
    box-sizing:border-box
}
.nav-item {
    display: table-cell;
    table-layout: fixed;
    width: 25%;
    padding: 5%;
    text-align: center;
    border-right: 1px dotted white;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.nav-item .nav-link {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 125px;
    height: 125px;
}

.nav-item h1 {
    padding: 0;
    padding-top: 2%;
    color: white;
    font-size: 14px;
}

.nav-item p {
    color: white;
}

.round {
    -webkit-box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .7);
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

.nav-item:hover .round {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 38px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    z-index: 2;
}